
@use 'color' as *;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');



body{
     font-family: "Instrument Serif", serif;
}
#productContainer{
     display: grid;
     padding:2rem;
     margin:2rem;
}
#nav-main{
     background-color: $darkrose;
}
#nav-main ul {
     padding:1rem;
     width:1rem;
     display: flex;
     flex-direction: row;
     list-style: none;
     padding-left: 0;
     gap: 10rem;
     font-size: 1.5rem;
     font-weight: 700;

  }

#nav-main ul li a {
     color:$black;
     text-decoration: none;
}

#header-main{
  /* Din styling her */
  background-color: $rose;
  color: $black;
  padding: 1rem;
  text-align: center;

}
#nav-main a:hover{
 background-color:$grey;
}
#main-footer{
     background-color:$darkrose;
}
//media
@media(min-width: 600px){
         #productContainer{
                    grid-template-columns: 1fr 1fr 1fr;
     }
}