@use "color" as *;
@use 'global' as *;


body {
    background-color: $rose;
}
#productContainer{
    display:block;
    flex-direction: column;
}
div{
  font-family: "Instrument Serif", serif;  

}
#køb{
  background-color: $red;
}
.material-symbols-outlined{
     display: flex;
     justify-content: flex-end;
          
}

