@use "color" as *;
@use 'global' ;
@use 'footer';

body {
    background-color: $rose;
}
div{
  font-family: "Instrument Serif", serif;  

}
#køb{
  background-color: $red;
}
.material-symbols-outlined{
     display: flex;
     justify-content: flex-end;
          
}
